<!-- app/views/admin/form_templates/_field_form.html.erb -->

<div class="card mb-3 field-item">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-2">
          <%= f.label :position, "Posição" %>
          <%= f.number_field :position, class: 'form-control', min: 1 %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-2">
          <%= f.label :field_type, "Tipo de Campo" %>
          <%= f.select :field_type, 
              ['text', 'textarea', 'email', 'number', 'date', 'select', 'radio', 'checkbox'],
              { prompt: 'Selecione um tipo' },
              class: 'form-select' %>
        </div>
      </div>
    </div>

    <div class="mb-2">
      <%= f.label :label, "Rótulo do Campo" %>
      <%= f.text_field :label, class: 'form-control', placeholder: 'Ex: Seu Nome' %>
    </div>

    <div class="mb-2">
      <%= f.label :options, "Opções (JSON - para select/radio/checkbox)" %>
      <%= f.text_area :options, class: 'form-control', rows: 2, placeholder: '["Opção 1", "Opção 2"]' %>
    </div>

    <div class="form-check">
      <%= f.check_box :required %>
      <%= f.label :required, "Campo obrigatório?" %>
    </div>

    <% if f.object.persisted? %>
      <div class="mt-2">
        <%= f.check_box :_destroy %>
        <%= f.label :_destroy, "Remover este campo" %>
      </div>
    <% end %>
  </div>
</div>
