<!-- app/views/admin/forms/edit.html.erb -->

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1 class="mb-4">Editar Formulário</h1>

      <%= form_with(model: [:admin, @form], local: true) do |form| %>
        
        <% if @form.errors.any? %>
          <div class="alert alert-danger">
            <h4><%= pluralize(@form.errors.count, "erro") %> encontrado:</h4>
            <ul>
              <% @form.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-3">
          <%= form.label :form_template_id, "Template" %>
          <%= form.collection_select :form_template_id, @form_templates, :id, :name, 
              {}, class: 'form-select' %>
        </div>

        <div class="mb-3">
          <%= form.label :klass_id, "Turma" %>
          <%= form.collection_select :klass_id, @klasses, :id, :name, 
              {}, class: 'form-select' %>
        </div>

        <div class="mb-3">
          <%= form.label :title, "Título do Formulário" %>
          <%= form.text_field :title, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= form.label :description, "Descrição" %>
          <%= form.text_area :description, class: 'form-control', rows: 4 %>
        </div>

        <div class="mb-3">
          <%= form.label :due_date, "Prazo (opcional)" %>
          <%= form.datetime_select :due_date, class: 'form-control' %>
        </div>

        <div class="d-flex gap-2">
          <%= form.submit "Atualizar Formulário", class: 'btn btn-success' %>
          <%= link_to 'Cancelar', admin_forms_path, class: 'btn btn-secondary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
