<!-- app/views/admin/users/index.html.erb -->
<div class="container mt-5">
  <div class="row mb-4">
    <div class="col-md-8">
      <h1>Usuários</h1>
    </div>
  </div>

  <% if @users.any? %>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Role</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><span class="badge bg-info"><%= user.role %></span></td>
              <td>
                <%= link_to 'Ver', admin_user_path(user), class: 'btn btn-sm btn-info' %>
                <%= link_to 'Editar', edit_admin_user_path(user), class: 'btn btn-sm btn-warning' %>
                <%= link_to 'Deletar', admin_user_path(user), method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-sm btn-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p>Nenhum usuário encontrado.</p>
  <% end %>
</div>
